@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700|Source+Sans+Pro:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Quicksand');
@import url('https://fonts.googleapis.com/css?family=Gugi|Song+Myung');

*, *::before, *::after{
  box-sizing: border-box;
}

/* 스타일 초기화 (Reset CSS) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------- */

.txt1{
  font-size: 5rem;
}
.txt2{
  font-size: 3.5rem;
}
.txt3{
  font-size: 2.5rem;
}
.txt4{
  font-size: 2.3rem;
}
.txt5{
  font-size: 2.0rem; 
}
.txt6{
  font-size: 1.7rem;
}
.txt7{
  font-size: 1.5rem;
}
.txt8{
  font-size: 1.2rem;
}

.tgray{
  color: rgb(99,99,99);
}

.tblack{
  color: rgba(0,0,0,0.8);
}

.twhite{
  color: white;
}

/* 본문 스타일 */
html{
  font-size: 10px; 
}

body{
    width: 100%;
  font-size: 1.6rem; /*루트를 기준으로.. 10px * 1.6 */
  background-color: #ffffff;
  line-height: 1.15; /* 한 줄의 높이*/
  font-family: 'Quicksand', sans-serif;
}

p{
  margin: 0.8em 0;
  line-height: 1.6;
}

a{
  text-decoration: none;
  color: inherit;
}

header{
  background: #ffffff;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1.5em 30px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(75, 36, 36, 0.2);

}

/* 레이아웃 */
.brand, .intro, .content-title, .portfolio, .footer-wrapper{
  width: 1000px;
  margin: 0 auto; /*가운데 정렬*/
}

.brand{
  display : inline-block;
}

nav a{
  padding: 0 4px 0 4px ;
  margin-right: 2em;
}

.brand, nav{
  color: rgba(0,0,0,0.6);
  font-family: 'Quicksand', sans-serif;
}

.intro{
  /* background-image: linear-gradient(to left, #ffffff 0%, #fad0c4 100%); */
    width: 100%;
  background: #ffffff;
  padding: 3.5em 2em;
}

.intro h2{
  padding: 1em 0;
}

.noto{
  font-family: 'Noto Serif', serif;
  font-weight: 700;
}
.mono{
  font-family: 'Major Mono Display', monospace;
}
.sand{
  font-family: 'Quicksand', sans-serif;
}
.song{
  font-family: 'Song Myung', serif;
}
.gugi{
  font-family: 'Gugi', cursive;
}

.content > h2{
  text-decoration-line: underline;
  padding: 100px 0;
 
  text-align: center;
  /* background: purple; */
}
.letter{
  letter-spacing: 1.3em;
    line-height: 28px;
    
}
/* ---------------- 이미지 ------------------------ */

.thumbnail{
  background: yellow; 
}


.thumbnail img{
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.title{
  color: white;
}

.block{
  display: block;
}

.portfolio{
  background: pink;
  background: #ffffff;
  /* transition: transform 0.2s, box-shadow 0.4s;  */
  transition: all 0.3s;
}

.portfolio:hover{
  /* background: orangered; */
  box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.2);
  transform: translate(-2px, -4px);
  
}

.portfolio a{
  display: flex;
  flex-direction: row-reverse;
}

.brief{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  background: black;
}

.content{
  background: #efefef;
  padding-bottom: 20px;
}

.copyright{
  order: -1;
  padding: 2.5rem 1rem;
}


header nav a:hover{
  box-shadow: 0 1px 0 0  rgba(88, 39, 39, 0.4);
}

.home:hover{
  box-shadow: 0 1px 0 0  rgba(75, 36, 36, 0.4);
}

footer{
  background: rgba(75, 36, 36, 0.2);
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  display: flex;
  padding: 0.6em;
  justify-content: space-between;
  border-top: 1px solid rgba(75, 36, 36, 0.2);
}

footer li:hover{
  color: white;
}

footer li{
  padding: 0.2em 1em;

}


@media(max-width: 720px){
   
    .hello{
        font-size: 9vw;
    }
    
    .this{
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    .lorem{
        font-size: 14px;
        width: 90%;
/*        margin: 0 auto;*/
    }
    
    .portfolio{
        width: 100%;
    }
    .portfolio figure {
        width:100%;
    }
    
    .portfolio a{
        display: block;
    }
    .portfolio div {
        width: 100%;
    }
}